.App {
  text-align: center;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  
}

.left {
  padding: 100px 0;
  
}

.Text {
  color: white;
  text-align: left;
  
}

.Text-detail {
  color: rgb(172, 171, 171);
  text-align: left;
  
}

.logo {
  height: 40vmin;
  pointer-events: none;
  display: flex;
  justify-content: left
  
}

.button-group {
  display: flex;
  justify-content: left;
  margin-top: 50px;
}


.button-register{
  margin-left: 20px;
}

.login{
  background-color: orangered;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 15px 25px;
  width: 100px;
}

.loginform{
  background-color: orangered;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 8px;
}

.btnlogin{
 width: 200px;
  
}

.input{
  width: 200px;
}

.right{
  padding: 15px;
  background-color: #333333;
  width: 400px;
  border-radius: 7px;
}

.right-side{
  padding: 200px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.inputEmail {
  background-color: rgb(167, 167, 167);
  border-radius: 5px;
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  background-color: black;
}

ul {
  list-style-type: none;
 
  

}

li {
  display: inline;
  color: white;
 
  
  
}

.menu {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  
  
  
}

.logoMenu {
  height: 60px;
  width: 60px;
  margin-top: 12px;
  margin-left: 60px;
  
  
}

.flex-container {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

.flex-container > div {
  background-color: #000000;
  width: 500px;
  margin: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.left-bar {
float:right;
margin-top: 20px;
margin-top: 20px;
  
  
  
}

.homepage {
  background-color: black;
  height: 100%;
}

.product {
  color: orangered;
}

.content-product {
  margin-left: 60px;
  padding: 50px 0;
  
}

.cardproduct{
  display: inline;
}

.contentMouse{
  height: 480px;
  padding-left: 1px;
}

.productContent {
  color: orangered;
  text-align: left;
}

.spek {
  color: white;
  text-align: left;
}

.spek-detail {
  
  color: white;
  text-align: justify;
}

.productprice {
  color: orangered;
  float: right
}

.Buy-btn {
  color: white;
  background-color: orangered;
  text-decoration: none;
  border-radius: 5px;
 
  width: 100%;
  font-size: 20px;
  text-transform: inherit;
  
}

.Buy {
  padding-top: 70px;
}

.profile{
  background-color: rgb(0, 0, 0);
  height: 120vh;
}

.img-fluid {
  border-radius: 2px;
}

.textDetail {
  color: white;
}

.transaction {
  border-radius: 2px;
}

.thumbnail {
  border-radius: 2px;
}

.transactionBackground {
  background-color: #3a3a3a;
  border-radius: 2px;
}

.textDetailTransactionTime {
  color: orangered;
  font-size:xx-small
}

.textDetailPrice {
  color: white;
  font-size: xx-small;
}

.Category {
  background-color: #000000;
  height: 100vh;
}

.listCategory {
  margin-top: 20px;
  padding: 60px
}

.editButton {
  padding: 4px;
  background-color: rgb(25, 204, 55);
  width: 100px;
  color: white;
  border-radius: 4px;
  border-color: rgb(25, 204, 55);
}

.deleteButton {
  
  background-color: orangered;
  padding: 4px;
  width: 100px;
  margin-left: 4px;
  color: white;
  border-radius: 4px;
  border-color: orangered;
}

.editCategory {
  background-color: #000000;
  height: 100vh;}

